* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
  }

a {
    text-decoration: none;
    color: #212121;
    min-width: 44px;
    min-height: 44px;
}

a:hover {
    font-weight: bold;
    color: #29BB89;
}

ul li {
    text-decoration: none;
    list-style: none;
}


/* 
 * SKIP TO CONTENT
 *
 */

.skip-link {
    position: absolute;
    top: -50px;
    left: 0;
    background-color: #29BB89;
    border-radius: 5px;
    color: white;
    padding: 8px;
    z-index: 100;
}

.skip-link:hover{
    color: #000;
}
     
.skip-link:focus {
    top: 0;
}

/* 
 * Preloader
 *
 */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #fff;
}
.preloader .loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font: 14px arial;
}
/* 
 * HEADER AppBar
 *
 */

.app-bar {
  padding: 8px 16px;
  background-color: white;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
 
.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}
 
.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}
 
.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}
 
.app-bar .app-bar__brand h1 {
  color: #212121;
  text-transform: uppercase;
  font-size: 22px;
  user-select: none;
}
 
.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  height: auto;
  transition: all 0.3s;
  padding: 8px;
  background-color: white;
  overflow: hidden;
}
 
.app-bar .app-bar__navigation.open {
  left: 0;
}
 
.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
}

/*
 * JUMBOTRON
 */

 .hero {
     display: flex;
     align-items: center;
     min-height: 380px;
     width: 100%;
     text-align: center;
     background-image: url('/images/heros/hero-image_4.jpg');
     background-position: center;
     background-color: #29BB89;
 }

 .hero__inner {
     margin: 0 auto;
     max-width: 800px;
 }

 .hero__title {
     color: #fff;
     font-weight: 500;
     font-size: 1.5em;
 }


 /*
  Main Content
*/
 
main {
  padding: 32px;
  flex: 1;
}
 
.content {
  margin: 0 auto;
  min-height: 100%;
}
 
.content .content__heading {
  font-weight: normal;
}

/*
  Restaurant //Movies
*/
 
.restaurant {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin: 32px 0;
}



/*
  Resto Item // Movie Item
*/
 
.resto-item {
    width: 100%;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.4);
    border-radius: 0 20px 20px 20px;
    overflow: hidden;
  }

.resto-item__header {
    position: relative;
}
   
.resto-item .resto-item__header .resto-item__header__poster {
    width: 100%;
}
   
.resto-item .resto-item__header .resto-item__header__rating {
    position: absolute;
    padding: 8px;
    bottom: 20px;
    left: 0;
    display: inline-block;
    background-color: black;
    color: white;
}
   
.resto-item .resto-item__header .resto-item__header__rating .resto-item__header__rating__score {
    margin-left: 10px;
}
   
.resto-item .resto-item__content {
    padding: 16px;
}
   
.resto-item .resto-item__content h3 {
    margin: 0 0 10px 0;
}
   
.resto-item .resto-item__content h3 a {
    text-decoration: none;
    padding-top: 44px;
    padding-bottom: 44px;
}
   
.resto-item .resto-item__content p {
    overflow: hidden;
    margin: 0 0 10px 0;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
}


/*
  Resto //Movie
*/
 
.resto {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px 16px;
  }
   
  .resto .resto__poster {
    width: 100%;
    max-width: 400px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.4);
    border-radius: 20px 20px 20px 20px;
  }
   
  .resto .resto__info h4 {
    margin: 8px 0;
  }

  /*
   Like
*/
.like {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #29BB89;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.2);
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

  /*
    Review
*/

.resto__overview{
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin: 20px 0;
}

.customers__review{
  font-size: 25px;
  font-weight: bold;
}

.review__info{
  border-radius: 20px 20px 20px 20px;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  padding: 20px;
  cursor: pointer;
}

.review__info h6{
  color: #29BB89;
  font-size: 22px;
  margin: 2px;
}

.review__info p{
  font-size: 16px;
  margin: 2px;
}

.review__info .date__review{
  font-size: 13px;
  margin: 2px;
  font-style: italic;
  color: #534340;
}

/*
 * Dark Mode
 */

 label {
   position: absolute;
   width: 45px;
   height: 22px;
   right: 22px;
   top: 25px;
   border: 2px solid;
   border-radius: 20px;
 }

 label::before {
  position: absolute;
  content: '';
  width: 18px;
  height: 18px;
  left: 1px;
  border-radius: 50%;
  cursor: pointer;
  background: #18181b;
  transition: 0.4s;
}

label.active:before {
  left: 22px;
  background: #fff;
  transition: 0.5s ease;
}

body.night {
  transition: 0.5s ease;
  background: #18181b;
  color: #fff;
}

header .app-bar.night {
  transition: 0.5s ease;
  background: #18181b;
  color: #fff;
}

header .app-bar__navigation.night {
  transition: 0.5s ease;
  background: #18181b;
}

header .app-bar__navigation.night ul li a {
  color: #fff;
}

header .app-bar.night h1 {
  color: white;
}

header .app-bar.night #hamburgerButton {
  color: white;
}

body.night main .content .restaurant .resto-item {
  background-color: #34343a;
}

body.night .review__info {
  background-color: #34343a;
}

body.night .review__info .date__review {
  color: #ffffff;
}

body.night a {
  color: #29BB89;
}

body.night a:hover {
  color: #fff;
}


 /*
 * footer
 */

footer {
    background-color: #29BB89;
    padding: 1.5em;
    width: 100%;
    text-align: center;
}

footer p {
    color: #fff;
}